<div class="container">

  <h3>Time Slot Info:</h3>
  <ul>
    <li>Volunteer Neighbor: <%= @time_slot.name %></li>
    <li>Time: <%= @time_slot.start_time %></li>
    <li>Date: <%= @time_slot.start_time %></li>
  </ul>




</div>
