<div class="container">
  <h1>Create a new appointment for <%= @time_slot.start_time %>:</h1>

  <%= render 'form' %>

  <br>
  <button><%= link_to 'Back to Calendar', time_slots_path %></button>
</div>
