<div class="container">
  <h2>Lents Volunteer Services</h2>

  <p>Need your lawn mowed? Hoyt is here to help!</p>

  <p>Head over to the <strong><%= link_to 'calendar', calendars_path %></strong> to reserve an upcoming appointment to have your lawn mowed for free! No strings attached.</p>

  <p>Welcome back Hoyt! Add a new <strong><%= link_to 'appointment', new_appointment_path %></strong>!</p>

</div>
