<div class="container" id="site">
  <h2>Lents Neighborhood Help</h2>

  <p>Need your lawn mowed? Hoyt can help!</p>

  <p>Head over to the <%= link_to 'calendar', %> to reserve an upcoming appointment to have your lawn mowed for free! No strings attached.</p>


</div>
